h1 {
  margin: 35px 0;
  text-align: center;
  letter-spacing: 0.25em;
  font-size: 25px;
  color: var(--c_cyan_very_dark);
}

.app form {
  margin: 0 auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 1rem 2rem -0.75rem rgba(0, 73, 77, 0.2);
  background: var(--c_white);
  padding: 32px;
}

.app form .area {
  margin-bottom: 30px;
}

.app form label {
  display: block;
  font-size: 14px;
  font-weight: var(--f_wt_bold);
  margin-bottom: 0.5rem;
}

.app form .fixed-tip,
.app form .btn-reset {
  cursor: pointer;
  font-weight: var(--f_wt_bold);
}

.app form input,
.app form .fixed-tip,
.app form .btn-reset {
  width: 100%;
  height: 46px;
  border-radius: 0.33rem;
  border: none;
}

.app form .fixed-tip,
.app form .btn-reset {
  height: 48px;
}

.app form .fixed-tip.lit {
  background-color: var(--c_cyan_strong);
  color: var(--c_cyan_very_dark);
}

.app form input[type="number"]:focus,
.app form input[type="number"]:focus-visible {
  outline: var(--c_cyan_strong) solid 2px;
}

.app form input[type="number"]#tip_custom {
  font-size: 20px;
}

.app form input[type="number"]#tip_custom.in-use {
  outline: 2px solid var(--c_cyan_strong);
}

.app form input[type="number"]#pax.with-error,
.app form input[type="number"]#pax.with-error:focus,
.app form input[type="number"]#pax.with-error:focus-visible {
  outline: var(--c_orange) solid 2px;
}

.app form .fixed-tip {
  background-color: var(--c_cyan_very_dark);
  color: var(--c_white);
  font-size: 24px;
  transition: background-color 0.1s ease-in;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app form .fixed-tip:hover {
  background-color: var(--c_cyan_gray_light1);
  color: var(--c_cyan_very_dark);
}

.app form .tips-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.app form .input-header {
  display: flex;
  justify-content: space-between;
}

.app form #pax-error {
  color: var(--c_orange);
  font-weight: var(--f_wt_bold);
}

.app form .totals-area {
  position: relative;

  margin-bottom: 0;
  border-radius: 1rem;
  background-color: var(--c_cyan_very_dark);
  padding: 42px 24px 24px;
}

.app form .totals-area dl {
  margin-bottom: 30px;

  display: grid;
  align-items: center;
  grid-template-columns: 100px 1fr;
  grid-row-gap: 25px;
}

.app form .totals-area dl dt {
  font-size: 15px;
  color: var(--c_white);
  font-weight: var(--f_wt_bold);
}

.app form .totals-area dl dt em {
  display: block;
  color: var(--c_cyan_gray_dark2);
  font-style: normal;
}

.app form .totals-area dl dd {
  text-align: right;
  font-size: 30px;
  font-weight: var(--f_wt_bold);
  color: var(--c_cyan_strong);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app form .totals-area dl dd:active::after {
  content: attr(data-value);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: hsla(183, 100%, 15%, 0.9);
  color: var(--c_white);
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.app form .totals-area .btn-reset {
  background-color: var(--c_cyan_strong);
  color: var(--c_cyan_very_dark);
  text-transform: uppercase;
  font-weight: var(--f_wt_bold);
}

.app form .totals-area .btn-reset:focus,
.app form .totals-area .btn-reset:focus-visible {
  outline: none;
}

.app form .totals-area .btn-reset:hover {
  background-color: var(--c_cyan_gray_light1);
}

.app form .totals-area .btn-reset[disabled] {
  background-color: var(--c_cyan_disabled-bg);
  color: var(--c_cyan_disabled-text);
}

.attribution {
  margin-top: 0.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--c_cyan_very_dark);
}

@media (min-width: 400px) {
  .app form {
    width: 400px;
    border-radius: 1.5rem;
  }

  .app form .input-areas .tip-area .tips-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 640px) {
  .app form {
    width: 600px;
  }
}

@media (min-width: 992px) {
  #root {
    min-height: 800px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    margin: 0 0 56px;
  }
  .app form {
    width: 920px;

    display: flex;
    gap: 30px;
  }
  .app form .input-areas {
    flex-basis: 50%;
    padding: 16px 18px 0;
  }
  .app form .input-areas .area {
    margin-bottom: 40px;
  }
  .app form .input-areas .area:last-child {
    margin-bottom: 16px;
  }

  .app form .totals-area {
    flex-basis: 50%;
    padding: 50px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .app form .totals-area dl {
    margin-bottom: 0;
    grid-row-gap: 20px;
  }
  .app form .totals-area dl dd {
    font-size: 44px;
  }
}

@media (min-width: 1440px) {
  #root {
    min-height: 1024px;
  }

  h1 {
    margin-bottom: 80px;
  }
}
